
/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-image: url('http://i.imgur.com/BBPF2ZN.png');
  background-size:   cover;                     
    background-repeat: no-repeat;
  background-attachment: fixed;*/
}
/*body {
  text-align: center;
}*/

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(90, 90, 90);
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  /*color: #fff; /* IE8 proofing */
  /*color: rgba(255,255,255,.75);*/
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  /*border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);*/
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    border-top-color: #808080;
    border-top-width: thin;
    border-top-style: solid;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  /*color: #999; /* IE8 proofing */
  /*color: rgba(255,255,255,.5);*/
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 480px;
  margin-bottom: 60px;
  margin-top:98px;
  /*background-image:url('http://i.imgur.com/BBPF2ZN.png');*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 480px;
  background-color: white;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 40%;
  /*min-width: 100%;*/
  width:320px;
  height: 480px;

}



/**********/
body{
    background-image:url('images/flow_blur.png');
    max-width:100%; max-height:100%;
    background-position: center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.iphone {

    background-image:url('images/concept-iphone.png');
    background-position:center top;
    background-size:100% 100%;
    background-repeat:no-repeat;
    position: absolute;
z-index: 22;
}
.concept .concept-iphone .screen {
position: absolute;
z-index: 2;
top: 13%;
right: 20.75%;
left: 20%;
bottom: 22%;
background: #1a1a1a;
border-radius: 1px;
box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}